<p id="notice"><%= notice %></p>

<h1>Listing Airports</h1>

<table>
  <thead>
    <tr>
      <th>Air city</th>
      <th>Air country</th>
      <th>Air code</th>
      <th>Air eat</th>
      <th>Air tips</th>
      <th>Air post</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @airports.each do |airport| %>
      <tr>
        <td><%= airport.air_city %></td>
        <td><%= airport.air_country %></td>
        <td><%= airport.air_code %></td>
        <td><%= airport.air_eat %></td>
        <td><%= airport.air_tips %></td>
        <td><%= airport.air_post %></td>
        <td><%= link_to 'Show', airport %></td>
        <td><%= link_to 'Edit', edit_airport_path(airport) %></td>
        <td><%= link_to 'Destroy', airport, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Airport', new_airport_path %>
