<p id="notice"><%= notice %></p>

<p>
  <strong>Air city:</strong>
  <%= @airport.air_city %>
</p>

<p>
  <strong>Air country:</strong>
  <%= @airport.air_country %>
</p>

<p>
  <strong>Air code:</strong>
  <%= @airport.air_code %>
</p>

<p>
  <strong>Air eat:</strong>
  <%= @airport.air_eat %>
</p>

<p>
  <strong>Air tips:</strong>
  <%= @airport.air_tips %>
</p>

<p>
  <strong>Air post:</strong>
  <%= @airport.air_post %>
</p>

<%= link_to 'Edit', edit_airport_path(@airport) %> |
<%= link_to 'Back', airports_path %>
